# Q1. Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

# # case sensetivity problm:

In [ ]:
TEN = 10
ten = 20
print(ten)
print(Ten)

20

NameError: name 'Ten' is not defined

In [ ]:
print(TEN)

10

In [ ]:
print(Ten)

NameError: name 'Ten' is not defined

In [ ]:
## Should not use reserved words as variable names
print("Hello World")
print="Hello World" #as a variable
type(print)

print("Hello World")

In [ ]:
#del command to delete variable
del print

## mention the datatype when taking input from the user

In [ ]:
# age of user
name = input("Name: ")
place = input("Place: ")
year_of_birth = input("year_of_birth: ")

age = 2022 - year_of_birth

print(f"""
My name is: {name}
I live at: {place}
{name} is of age:{age}
""")

## we need to put exact mentioned datatype's value

In [ ]:
A = float(input("Enter value of A:"))
B = int(input (" Enter value of B:"))

print(f"Sum of A and B is :{A+B}")

Enter value of A:43.0
 Enter value of B:74.6

ValueError: invalid literal for int() with base 10: '74.6'

## we can't change an empty string to any datatype

In [ ]:
#empty string to int
A = ""
print(f"data type before:{type(A)}, value of A: {A}")
A = int(A)
print(f"data type after :{type(A)}, Value of A: {A}")

data type before:<class 'str'>, value of A:

ValueError: invalid literal for int() with base 10: ''

# Take inout A and B and print their sum, mul, div, square of the nos.

In [5]:
#taking inputs from the user 
a = int(input("Enter 1st Number: "))
b = int(input("enter 2nd Number: "))


#mathematical equations

sum = a+b
mul = a*b
div = a/b
square_of_a = a**2
square_of_b = b**2

#printing the result
print(f"The 'sum' of {a} and {b} is : {sum}")
print(f"The 'mul'of {a} and {b} is: {mul}")
print(f"The 'div' of {a} and {b} is :{div}")
print(f"The 'Square'of {a} and {b} is : {square_of_a} and {square_of_b} respectively")

Enter 1st Number: 21
enter 2nd Number: 25
The 'sum' of 21 and 25 is : 46
The 'mul'of 21 and 25 is: 525
The 'div' of 21 and 25 is :0.84
The 'Square'of 21 and 25 is : 441 and 625 respectively

# 3. How many reserve Keywords are there in python and why we should not use them as a variable name.



1.   There are only 33 reserve keywords in python.

2.  We shouldn't use those as variable name because if i will use those words as variable, then those might revert in the data type of the variable, and for future use of those variable as keywords, will through an error.

# Q4. Create email ids with the user inputs.In the following format - lastname.firstname@gmail.com

In [7]:
# taking the user inputs
first_name= input("enter the first name: ")
last_name =input("enter the last name:  ")
#creating the email id
print(f" The user E-mail ID is : {last_name}.{first_name}@gmail.com")

enter the first name: Jayden
enter the last name:  Brake
 The user E-mail ID is : Brake.Jayden@gmail.com

# Q5. Print the following lines


*   Hi I'm Sunny
*   My Address is 22\3
*   I earn 20$ daily.

In [8]:
# taking the user inputs
statement_1 = "Hi I'm Sunny"
statement_2 = "My address is 22\\3"
statement_3 = "I earn 20$ daily."

# printing the statements
print(f"The 1st statement is: {statement_1}")
print(f"The 2nd statement is: {statement_2}")
print(f"The 3rd statement is: {statement_3}")

The 1st statement is: Hi I'm Sunny
The 2nd statement is: My address is 22\3
The 3rd statement is: I earn 20$ daily.

# **6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs**

In [9]:
# taking the user inputs
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")

house_no = input("Enter your house_no: ")
vill_or_city = input("Enter your Village/City name: ")
po = input("Enter your Post Office: ")
ps = input("Enter your Police Station: ")
pin = input("Enter your Postal Code: ")
dist = input("Enter your District: ")
state = input("Enter your State: ")

dob = input("Enter your date of birth: ")

# printing the outputs
print(f"\nYour full name: {first_name} {last_name}")

print()

print(f"""Your full address:- 
house_no: {house_no},
Village/City name: {vill_or_city},
Post Office: {po},
Police Station: {ps},
Postal Code: {pin},
District: {dist},
State: {state}""")

print()

print(f"Your D.O.B. is: {dob}")

print()


# creating the email id
print(f"The user email id is: {(last_name.lower())}.{(first_name.lower())}@gmail.com")

Enter your first name: Jayden
Enter your last name: Brake
Enter your house_no: 43
Enter your Village/City name: South Wales
Enter your Post Office: aukland
Enter your Police Station: wales
Enter your Postal Code: 901267
Enter your District: Wasseypu
Enter your State: Uttar pradesh
Enter your date of birth: 07/08/1999

Your full name: Jayden Brake

Your full address:-
house_no: 43,
Village/City name: South Wales,
Post Office: aukland,
Police Station: wales,
Postal Code: 901267,
District: Wasseypu,
State: Uttar pradesh

Your D.O.B. is: 07/08/1999

The user email id is: brake.jayden@gmail.com

7. Convert the following -
 * "22.4" into integer
 * "22" into complex no.

In [10]:
# float to integer
x = 22.4
print(f"The data type of given number is: {type(x)}, value of x: {x}")
x = int(x)
print(f"After converting '22.4' into integer: {x}")

print()

# integer to float
y = 22
print(f"The data type of given number is: {type(y)}, value of x: {y}")
y = float(y)
print(f"After converting '22' into float: {y}")

The data type of given number is: <class 'float'>, value of x: 22.4
After converting '22.4' into integer: 22

The data type of given number is: <class 'int'>, value of x: 22
After converting '22' into float: 22.0

In [17]:
# int to complex
a = 22
print('Input',a,type(a))

output = complex(a)
print('output',output, type(output))

Input 22 <class 'int'>
output (22+0j) <class 'complex'>